<!DOCTYPE html>
<html>
    <head>
        <title><%= WelcomeToRocketPack %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <% link_all_css %>
        <% link_all_js %>
    </head>
    <body>
        <img src="<% assets_path %>images/rocketpack.png" title="RocketPack!"> 
        <% include form %>
        <div><%= WelcomeToRocketPack %></div>

        <% control Names %>
        * <%@ firstname %> <%@ lastname %><br>
        <% end %>

        <pre><%= ShowFooter %></pre>

        <% form_init controller="main" execute="SayHello" %>
        <input type="submit" name="submit" value="Submit!">
        <% form_end %>
        
        <% assets_path %>
    </body>
</html>
